{% extends 'base.html.twig' %}

{% block title %}Kanji{% endblock %}

{% block body %}
    <h1>Kanji</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kanji.id }}</td>
            </tr>
            <tr>
                <th>Caractere</th>
                <td>{{ kanji.caractere }}</td>
            </tr>
            <tr>
                <th>Cle</th>
                <td>{{ kanji.cle }}</td>
            </tr>
            <tr>
                <th>Kunyomi</th>
                <td>{{ kanji.kunyomi }}</td>
            </tr>
            <tr>
                <th>Onyomi</th>
                <td>{{ kanji.onyomi }}</td>
            </tr>
            <tr>
                <th>Stroke</th>
                <td>{{ kanji.stroke }}</td>
            </tr>
            <tr>
                <th>Sens</th>
                <td>{{ kanji.sens }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ kanji.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kanji_index') }}">back to list</a>

    <a href="{{ path('kanji_edit', {'id': kanji.id}) }}">edit</a>

    {{ include('kanji/_delete_form.html.twig') }}
{% endblock %}
